{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5">
		<h1>Inscription ! ✅</h1>
		{{ form(registerForm) }}
		</div>
		<div class="container mt-5 mb-5">
			<p>
				Vous avez déja un compte ?
				<a href="{{ path('app_login') }}">Connecter-vous !</a>
			</p>

		</div>
	{% endblock %}
